section .taiwan_box .district.taichung {
  left: 71px;
  top: 328px;
  width: 100px;
  height: 100px;
  background-image: url("../image/taichung.svg");
  transform: scale(4.5);
  z-index: 80;
}
section .taiwan_box .district.taichung.show {
  display: block;
}
section .taiwan_box .district.taichung.show.active {
  opacity: 1;
}
section .taiwan_box .district.taichung:hover {
  opacity: 0.3;
}
section .taiwan_box .district.changhuaCounty {
  left: -157px;
  top: 450px;
  width: 100px;
  height: 100px;
  background-image: url("../image/changhua.svg");
  transform: scale(2.18);
  z-index: 80;
}
section .taiwan_box .district.changhuaCounty.show {
  display: block;
}
section .taiwan_box .district.changhuaCounty.show.active {
  opacity: 1;
}
section .taiwan_box .district.changhuaCounty:hover {
  opacity: 0.3;
}
section .taiwan_box .district.yunlinCounty {
  left: -171px;
  top: 608px;
  width: 100px;
  height: 100px;
  background-image: url("../image/yunlin.svg");
  transform: scale(2.86);
  z-index: 80;
}
section .taiwan_box .district.yunlinCounty.show {
  display: block;
}
section .taiwan_box .district.yunlinCounty.show.active {
  opacity: 1;
}
section .taiwan_box .district.yunlinCounty:hover {
  opacity: 0.3;
}
section .taiwan_box .district.nantouCounty {
  left: 83px;
  top: 524px;
  width: 100px;
  height: 100px;
  background-image: url("../image/nantou.svg");
  transform: scale(4.05);
  z-index: 80;
}
section .taiwan_box .district.nantouCounty.show {
  display: block;
}
section .taiwan_box .district.nantouCounty.show.active {
  opacity: 1;
}
section .taiwan_box .district.nantouCounty:hover {
  opacity: 0.3;
}
section .taiwan_box .district.chiayi {
  left: -34px;
  top: 187px;
  width: 100px;
  height: 100px;
  background-image: url("../image/chiayi.svg");
  transform: scale(3.61);
  z-index: 80;
}
section .taiwan_box .district.chiayi.show {
  display: block;
}
section .taiwan_box .district.chiayi.show.active {
  opacity: 1;
}
section .taiwan_box .district.chiayi:hover {
  opacity: 0.3;
}
section .taiwan_box .district.tainan {
  left: -111px;
  top: 310px;
  width: 100px;
  height: 100px;
  background-image: url("../image/tainan.svg");
  transform: scale(2.6);
  z-index: 80;
}
section .taiwan_box .district.tainan.show {
  display: block;
}
section .taiwan_box .district.tainan.show.active {
  opacity: 1;
}
section .taiwan_box .district.tainan:hover {
  opacity: 0.3;
}
section .taiwan_box .district.kaohsiung {
  left: -1px;
  top: 389px;
  width: 100px;
  height: 100px;
  background-image: url("../image/kaohsiung.svg");
  transform: scale(4.46);
  z-index: 80;
}
section .taiwan_box .district.kaohsiung.show {
  display: block;
}
section .taiwan_box .district.kaohsiung.show.active {
  opacity: 1;
}
section .taiwan_box .district.kaohsiung:hover {
  opacity: 0.3;
}
section .taiwan_box .district.pingtungCounty {
  left: 6px;
  top: 648px;
  width: 100px;
  height: 100px;
  background-image: url("../image/pingtung.svg");
  transform: scale(4.41);
  z-index: 80;
}
section .taiwan_box .district.pingtungCounty.show {
  display: block;
}
section .taiwan_box .district.pingtungCounty.show.active {
  opacity: 1;
}
section .taiwan_box .district.pingtungCounty:hover {
  opacity: 0.3;
}/*# sourceMappingURL=regions.css.map */